<!--  -->
<!-- https://bbbootstrap.com/snippets/bootstrap-5-sidebar-menu-hover-effect-66945518 -->
<!-- <div class="d-flex flex-column vh-100 flex-shrink-0 p-3 text-black bg-light" style="width: 250px;"> <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-black text-decoration-none"> <svg class="bi me-2" width="40" height="32"> </svg> <span class="fs-4">Eugene Vincent</span> </a> -->
<div class="d-flex flex-column vh-100 flex-shrink-0 p-3 text-black bg-light" style="width: 225px;">
  <!-- <hr> -->
  <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item" routerLinkActive="active current">
        <a routerLink="/students" class="nav-link text-black" aria-current="page">
          <i class="bi bi-person-rolodex"></i>
          <span class="ms-2">Students</span>
        </a> 
      </li>
      <li class="nav-item" routerLinkActive="active current">
        <a routerLink="/associations" class="nav-link text-black">
          <i class="bi bi-people-fill"></i>
          <span class="ms-2">Associations</span> 
        </a> 
      </li>
      <li class="nav-item" routerLinkActive="active current"><a routerLink="#" class="nav-link text-black"><i class="fa fa-first-order"></i><span class="ms-2">My Orders</span> </a> </li>
      <li class="nav-item" routerLinkActive="active current"><a routerLink="#" class="nav-link text-black"><i class="fa fa-cog"></i><span class="ms-2">Settings</span> </a> </li>
      <li class="nav-item" routerLinkActive="active current"><a routerLink="#" class="nav-link text-black"><i class="fa fa-bookmark"></i><span class="ms-2">Bookmarks</span> </a> </li>
  </ul>
  <hr>
  <!-- <div class="dropdown"> <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false"> <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2"> <strong> John W </strong> </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="#">New project</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li>
              <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
  </div> -->
</div>