<nav class="navbar navbar-expand-lg navbar-light bg-transparent" >
  <div class="container-fluid" >
    <div class="collapse navbar-collapse" style="border-bottom: 1px solid lightgray;">
      <div class="row">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-black" routerLinkActive="active current" routerLink="#"><i class="bi bi-plus-lg"></i>New</a>
          </li>
          <form>
            <li class="nav-item">
              <select class="form-select form-select-sm" aria-label="Default select example">
                <option selected></option>
                <option value="1">2021</option>
                <option value="2">2020</option>
                <option value="3">2019</option>
              </select>         
            </li>
          </form>
        </ul>
      </div>
    </div>   
  </div>
  <hr />
</nav>
<div class="container-fluid">
  <br/>
  <h3>Association Memberships</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Year</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>2021</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>2021</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>2021</td>
      </tr>
    </tbody>
  </table>
</div>