<nav class="navbar navbar-expand-lg navbar-light bg-transparent" >
  <div class="container-fluid" >
    <div class="collapse navbar-collapse" style="border-bottom: 1px solid lightgray;">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link bi bi-plus-lg text-black" routerLinkActive="active current" routerLink="#">New</a>
        </li>
      </ul>
    </div>   
  </div>
  <hr />
</nav>
<div class="container">
  <br/>
  <h3>Students</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mark.otto@hotmail.com</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>Jacob.thornton@mts.net</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>Bird</td>
        <td>larry.bird@shaw.ca</td>
      </tr>
    </tbody>
  </table>
</div>